<md-content>
    <div layout = "row" layout-align="center">
        <div layout = "column" flex="60">
            <h1>Create a channel</h1>
            <p>Channels are where your team communicates. They're best when organized around a topic - #pr0n for example.</p>
            <md-input-container>
                <md-switch ng-model="publicOrPrivateSwitch" aria-label="public or private switch" ng-change="onChange(publicOrPrivateSwitch)">{{publicOrPrivate}}</md-switch>
            </md-input-container>
            <form name = "addChannelForm" layout="column" novalidate>
                <md-input-container>
                    <label>Name</label>
                    <input type ="channel" ng-model='newChannel.channelName' required>
                </md-input-container>
                <md-input-container>
                    <label>Purpose (optional)</label>
                    <input type = "text" ng-model='newChannel.channelPurpose'>
                </md-input-container>
                <md-input-container>
                    <label>Send Invites to: (optional)</label>
                    <input type = "password" ng-model='newChannel.channelPassword'>
                </md-input-container>
                <div layout = "row" layout-align= "end" >
                    <md-button ui-sref= "chat"  aria-label="CancelButton" >Cancel</md-button >
                    <md-button class="md-accent" ng-click ="createChannel(newChannel)" aria-label="AddButton">Create Channel</md-button>
                </div>
            </form>
        </div>
    </div>
</md-content>
