<md-content>
    <div layout = "row" layout-align="center">
        <div layout = "column" flex="60">
            <h1>Create a {{privateText}} channel</h1>
            <p>Channels are where your team communicates. They're best when organized around a topic - #pr0n for example.</p>
            <div layout="row">
                <md-input-container flex="20">
                    <md-switch ng-model="publicOrPrivateSwitch" aria-label="public or private switch" ng-change="onChange(publicOrPrivateSwitch)">{{publicOrPrivate}}</md-switch>
                </md-input-container>
                <md-input-container flex="80" ng-show="publicOrPrivateSwitch">
                    <label>&emsp;&emsp;&emsp;&emsp; Invite some friends</label>
                    <md-menu> 
                        <md-button class="md-icon-button" ng-mouseenter="$mdMenu.open()">
                            <i class="material-icons">face_black</i>
                        </md-button>
                        <md-menu-content width="8" ng-mouseleave="$mdMenu.close()">
                            <md-menu-item ng-repeat='user in users'>
                                <md-button ng-click="addToChannel(user)">{{user.username}}</md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-input-container>
            </div>
            <form name = "addChannelForm" layout="column" novalidate>
                <md-input-container>
                    <label>Name</label>
                    <input type ="channel" ng-model='newChannel.channelName' required ng-minlength="3">
                </md-input-container>
                <md-input-container>
                    <label>Purpose (optional)</label>
                    <input type = "text" ng-model='newChannel.channelPurpose'>
                </md-input-container>
                <md-input-container ng-show="publicOrPrivateSwitch">
                    <label>Invited Friends:</label>
                </md-input-container>
                <md-input-container ng-show="publicOrPrivateSwitch">
                    <li id="invited-friends" ng-repeat="user in invitedUsers">{{user}}</li>
                </md-input-container>
                <div layout = "row" layout-align= "end" >
                    <md-button ui-sref= "chat"  aria-label="CancelButton" >Cancel</md-button >
                    <md-button class="md-accent" ng-click ="createChannel(newChannel)" aria-label="AddButton">Create Channel</md-button>
                </div>
            </form>
        </div>
    </div>
</md-content>
