<div class="loginCard">
  <md-content id="login-form-content" class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div id="login_card" flex-xs flex-gt-xs="35" layout="column">
      <md-card id="wonderful-card" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title id="card-title">
          <md-card-title-text>
            <img id="app_logo_login" src="assets/images/snakk_logo.png" alt="sNakk" />
            
            <form name="loginForm" ng-submit="submitForm(loginForm)">
              <md-input-container ng-show="showUserName" layout="row">
                <label>Username</label>
                <input type="text" name="username" ng-model="username" required maxlength="20">
                <div ng-messages="loginForm.username.$error">
                  <div ng-message="max"> max 20 characters</div>
                </div>
              </md-input-container>
              
              <md-input-container layout="row">
                <label>E-mail</label>
                <input type="email" name="email" ng-model="email" required>
                <div ng-messages="loginForm.email.$error">
                  <div ng-message="email"> invalid email.</div>
                  <div ng-message="isValidEmail"> account exists</div>
                </div>
              </md-input-container>

              <md-input-container layout="row">
                <label>Password</label>
                <input type="password" name="password" ng-model="password" required maxlength="20">
                <div ng-messages="loginForm.password.$error">
                </div>
              </md-input-container>
              
              <md-input-container ng-show="showPasswordConfirm" layout="row">
                <label>Retype password</label>
                <input type="password" name="confirm" ng-pattern="\b{{password}}\b" ng-model="confirm" required maxlength="20">
                <div ng-messages="loginForm.confirm.$error">
                  <div ng-message="pattern"> no match</div>
                </div>
              </md-input-container>
            </form>
          </md-card-title-text>

        </md-card-title>
        <md-card-footer id="card-footer" layout="row" layout-align="center">
          <md-card-actions layout="column" layout-align="center">
            <md-button type="submit" ng-click="loginButtonClicked()" ng-show="showLoginButton">Login</md-button>
            <md-label class="textHover" ng-click="registerClicked()" style="text-align:center" ng-show="showReg">Register</md-label>
            <md-button type="submit" ng-click="registerButtonClicked()" ng-show="showRegButton">Register</md-button>
          </md-card-actions>
        </md-card-footer>
      </md-card>
    </div>
  </md-content>
</div>
