<md-content>
    <div layout = "row" layout-align="center">
        <div layout = "column" flex="60">
            <h2>Edit your profile</h2>
            <h3>{{activeUser.email}}</h3>
                <img src="{{profileImage}}" name="avatar" alt="Profile picture" flex="25"
                     style='height: 100px; width: 80px; object-fit: contain'>



            <input class="ng-hide" id="selected" type="file" ngf-select ng-model="avatar">
            <label for="selected" class="md-button md-raised md-primary">Select image</label>
            <form name = "settingsForm" layout="column" novalidate>
                <md-input-container>
                    <label>Change E-Mail</label>
                    <input type = "email" ng-model=activeUser.email required>
                </md-input-container>
                <md-input-container>
                    <label>Change username</label>
                    <input type = "text" ng-model= activeUser.username required>
                </md-input-container>
                <md-input-container>
                    <label>Change Password</label>
                    <input type = "password" ng-model= activeUser.password required>
                </md-input-container>
                <div layout = "row" layout-align= "end" >
                    <md-button ui-sref= "chat"> Cancel </md-button >
                <md-button class="md-accent" ng-click="saveSettings(activeUser)">Save changes</md-button>
        </div>
        </form>
    </div>
    </div>
</md-content>