<form action="http://localhost:3000/public/assets/images" enctype="multipart/form-data" method="post">
    <input type="text" name="title"><br>
    <input type="file" name="avatar" multiple="multiple"><br>
    <input type="submit" ng-model="activeUser.avatar" value="Upload">
    </form>



<md-content>
    <div layout = "row" layout-align="center">
        <div layout = "column" flex="60">
            <h2>Edit your profile</h2>
            <h3>{{activeUser.email}}</h3>
            <form name = "settingsForm" layout="column" novalidate>
                <div layout = "row">
                    <img ngf-thumbnail="picFile" class="thumb" alt="Profile picture"
                         style='height: 100px; width: 80px; object-fit: contain'>
                </div>
                <div layout = "row">
                    <input class="ng-hide" id="input-file-id" type="file" ngf-select name="file"
                    accept="image/*">
                    <label for="input-file-id" class="md-button md-raised md-primary">Choose image</label>
                </div>
                <md-input-container>
                    <label>Change E-Mail</label>
                    <input type = "email" ng-model=activeUser.email required>
                </md-input-container>
                <md-input-container>
                    <label>Change username</label>
                    <input type = "text" ng-model=activeUser.username required>
                </md-input-container>
                <md-input-container>
                    <label>Change Password</label>
                    <input type = "password" ng-model=activeUser.password required>
                </md-input-container>
                <div layout = "row" layout-align= "end" >
                    <md-button ui-sref= "chat" > Cancel </md-button >
                <md-button class="md-accent" ng-click ="saveSettings(activeUser)">Save changes</md-button>
        </div>
        </form>
    </div>
    </div>
</md-content>