.bar.bar-header.bar-stable {
    background: #4D394B;
    font-size: 40px !important;
    height: 75px;
    position: relative;
    margin: auto;
}

.logo {
    width: 80%;
    margin: 2px;
}

.line {
    color: red;
}

.backButton {
    color:white !important;
    margin-top: 10px !important;
    
}

.title {
    color: white !important;
}
.list {
    background-color: #4D394B;
    max-width: 100% !important;
    
}
.test.has-header {
    margin: auto;
    max-width: 94% !important;
    max-height: 45px !important;
    margin-top: 30px !important;
    background-color: #4D394B !important;
    height: 45px !important;
    border: none !important;
}

.add-friends {
    text-align: center;
    font-size: 18px;
    color: white;
}

.ion-scroll { 
    white-space: nowrap; 
}
.ruta {
    max-width: 78%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin: auto;
    
}

.pane {
    background-color: #4D394B !important;
}

.listPos {
    margin-top: 20px;
}

.item.item-input {
    color: white !important;
    margin-top: 5px;
    height: 40px !important;
    margin: auto !important;
    max-width: 100% !important;
    font-size: 30px;
}
.item.item-toggle {
    color: lightgrey;
    background-color: #4D394B !important;
    margin-top: 5px;
    height: 45px;
    border: none;
    margin-right: 18px !important;
}

.item-checkbox {
  border: 0px !important;
  border-color: #4D394B !important;
  padding-left: 55px !important;
  font-size: 15px !important;
  align-items: center !important;
  font-weight: bold !important;
}

.item.item-input.item-stacked-label {
    margin: auto;
    margin-top: 10px !important;
    max-width: 94% !important;
    background-color: #4D394B !important;
    padding-left: 55px !important;
    border: none !important;
    text-align: left !important; 
    margin-left: 15px !important;
    height: 50px !important;
}

input.inputField {
    background-color: #4D394B !important;
    color: white !important;
    text-align: left !important;
    margin-left: -30px !important;
    margin-top: 5px !important;
    width: 500px !important;
    padding: 5px;
}
span {
    color: white !important;
    margin-left: -30px !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: lightgrey !important;
  text-align: left !important;
  font-size: 15px !important;
  
}

.toggle{
    margin: -9px !important;
}

.item-checkbox.checkbox-balanced {
    background-color: #654962 !important;
    color: lightgrey !important;
}

.button.button-block.button-positive.addChannel{
  background-color: rgba(86, 182, 139, 1) !important;
  color: white;
  margin: auto;
  width: 80%;
  border-radius: 50px !important;
  margin-top: 8px !important;
}

#scrollimg {
    position: absolute;
    margin-left: 170px;
    margin-top: -30px;
    color: #4D394B;
    font-size: 35px;
}

p.label {
    font-size: 20px !important;
    color:white !important;
    margin-left: 16px !important; 
}

.ion-arrow-left-c {
    font-size: 40px !important;
}
