.bar.bar-header.bar-stable {
    background: #4D394B;
    
}

h1 {
    color: white !important;
}

.list {
    margin-top: 5px !important;
}

.item.item-input {
    border: solid #4D394B 3px;
    margin-top: 5px;
    height: 45px;
}

.friendsList {
    border: solid #4D394B 3px;;
}

.button.button-block.button-positive {
    background-color: #4D394B !important;
    width: 300px !important;
    height: 50px !important;
    
    margin: 0 auto !important;

}

.snakk_logo_add {
    position: static;
    height: 90%;
    object-fit: contain;
} 

.ion-close-circled {
    color: darkred !important;
}



