.bar.bar-header.bar-stable {
    background: #4D394B;
    
}

h1 {
    color: white !important;
}

.list {
    margin-top: 40px !important;
}

.item.item-input {
    border: solid #4D394B 3px;
    margin-top: 5px;
}

.button.button-block.button-positive {
    background-color: #4D394B !important;
    border-radius: 100px;
}

.snakk_logo_add {
    position: static;
    height: 90%;
    object-fit: contain;
} 


