#sidemenu-thumbNail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.item{
  padding: 10px !important;
}
.chat-input-box {
  background-color: white;
  height: 100%;
  width:100%;
}

.item-input-inset{
  width: 100% !important;
}

#chat-box{
  margin: 5px 0 5px 5px;
  padding: 0px 0px 0 10px;
}

.avatar-thumb{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.username{
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.date{
  color: #9e9e9e;
  font-style: italic;
  font-size: small;
  vertical-align: middle;
  display: inline-block;
}
.messagetext {
  margin-left: 10px;
}

.item.item-input.item-stacked-label{
  border: solid 2px #4D394B;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  line-height: 0;
}

.input.settings{
  background-color: #E3E4E5;
}

.side-right{
  background-color: #E3E4E5 !important;
}

.avatarFrame{
  background-color: #E3E4E5 !important;
  padding-left: 22% !important;
  padding-top: 7% !important;
}

.button.button-block.button-positive.chat{
  margin-left: 3%;
  width: 94%;
}

.button.button-small.icon:active{
  background-color: rgba(86, 182, 139, 1);
  color: white;
}

.button.button-small.icon_red:active{
  background-color: #D01B2C;
  color: white;
}

.button.button-small.icon_red{
  font-size: 30px;
}




