#sidemenu-thumbNail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  border: solid 3px gray;
  margin-right: 5px;
}

/* Used background colors
snakk: #4D394B;
snakk darker: #473445;
*/

.chat-input-wrapper {
  background-color: white !important;
}

.chat-container {
  border-width: 0 !important;
}

.snakk-background {
  background-color: #4D394B !important;
}

.right-menu-input {
  background-color: transparent !important;
  border: solid 0 #4D394B !important;
}

.snakk-buttons {
  color: white !important;
  background-color: #38968C !important;
}

.snakk-buttons:active {
  color: white !important;
  background-color: #78968C !important;
}

h1.title {
  color: white !important;
}

.icon-white {
  color: white !important;
}

.bg-white {
  background-color: white !important;
}

.no-padding {
  padding: 0 0 0 0 !important;
}

.no-margin {
  margin: 0 0 0 0 !important;
}

.right-menu-item{
  border: solid 0 transparent !important;
  background-color: transparent !important;
  color: #444 !important;
  padding: 8px !important;
  font-size: 16px !important;
}

.item.list_side{
  background-color: #4D394B;
  border: none !important;
}

.list.chat{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.chat-input-box {
  background-color: white;
  height: 100%;
  width:100%;
}

.item-input-inset{
  width: 100% !important;
}

#chat-box{
  margin: 5px 0 5px 5px;
  padding: 0px 0px 0 10px;
}

.avatar-thumb{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

img#add-channel-icon {
  transform: translate(800%);
}

.ion-ios-plus-outline.add-channel-icon {
  float: right;
  font-size: 20px;
  padding-right: 20px;
  display: inline-flex;
  font-weight: bolder !important;
}

.ion-ios-plus-outline.add-channel-icon:active {
  color: white !important;
}

img#lock-icon {
  width: 12px;
  height: 12px;
}
span.hashtag-icon {
    font-size: 15px;
    color: #7C6A7A;
}

.icon-color {
  color: white !important;
}

.icon-active:active {
  color: #38968C !important;
}

.no-border{
  border-width: 0 !important;
}

.list a {
    background: transparent;
    border: none;
}
.list-style {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: #AB9BA9;
}

.snakk-font-regular {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: white !important;
}

.snakk-font-header {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  color: #AB9BA9 !important;
}

.list-title {
  margin-left: 10px;
  color: #7C6A7A;
  margin-top: 0;
  margin-bottom: 0;
}

.item.channels {
    padding: 5px !important;
    margin-left: 5px;
}
.username{
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.remove-message {
  color:red;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.date{
  color: #9e9e9e;
  font-style: italic;
  font-size: small;
  vertical-align: middle;
  display: inline-block;
}

.messagetext {
  margin-left: 10px;
}

.ion-pound{
  transform: scaleX(-1);
}

.item.item-input.item-stacked-label{
  border: solid 2px #4D394B;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  line-height: 0;
}

.input.settings{
  background-color: #E3E4E5;
}

.button.button-block.button-positive.chat{
  margin-left: 3%;
  width: 94%;
}

.button.button-small.icon:active{
  background-color: rgba(86, 182, 139, 1);
  color: white;
}

.button.button-small.icon_red:active{
  background-color: #D01B2C;
  color: white;
}

.button.button-small.icon_red{
  font-size: 30px;
}

.attachment{
  margin: 0 0 0 10px;
  height: 20%;
  width: 20%;
  object-fit: contain;
}

.list-avatar-page{
  background-color: #4D394B;
}

.userList{
  margin-left: 2%;
  float: left;
  color: #AB9BA9;
}

.user{
  color: #AB9BA9 !important;
}
.slack-green{
  color: #38968C !important;
  font-size: 90% !important;
}

.slack-off{
  font-size: 90% !important;
}

.ion-social-octocat{
  padding-left: 10px;
  font-size: 15px !important;
}

.activeUserName{
  display: flex;

}

.usernamePad{
  height: 20px;
  color: #AB9BA9;
  padding-left: 2%;
}

.title.logo{
  left: 0 !important;
}

.item.list_side{
  padding: 5px;
}

.title{
  color: black !important;
}

.channel-highlight {
    color: #f3efef !important;
    font-weight: bold !important;
}
