#sidemenu-thumbNail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  border: solid 3px gray;
}

.item.list_side{
  background-color: #4D394B;
  border: none !important;
}

.list.chat{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  padding-left: 20px;
}
.chat-input-box {
  background-color: white;
  height: 100%;
  width:100%;
}

.item-input-inset{
  width: 100% !important;
}

#chat-box{
  margin: 5px 0 5px 5px;
  padding: 0px 0px 0 10px;
}

.avatar-thumb{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: contain;
}

#channel-drawer{
    background: rgb(77, 57, 75, 1); 
}

img#add-channel-icon {
  float: right;
  padding-right: 20px;
}
img#lock-icon {
  width: 12px; 
  height: 12px;
}
span.hashtag-icon {
    font-size: 15px;
    color: #7C6A7A;
}
.list a {
    background: transparent; 
    border: none;
}
.list-style {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: #AB9BA9;
}
.list-title {
    color: #7C6A7A;
    margin-left: 10px;
}
.item.channels {
    padding: 5px !important;
    margin-left: 5px;
}
.username{
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.date{
  color: #9e9e9e;
  font-style: italic;
  font-size: small;
  vertical-align: middle;
  display: inline-block;
}
.messagetext {
  margin-left: 10px;
}
.ion-pound{
  transform: scaleX(-1);
}
.item.item-input.item-stacked-label{
  border: solid 2px #4D394B;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0;
  line-height: 0;
}

.input.settings{
  background-color: #E3E4E5;
}
.item.item-input.item-stacked-label{
  padding-left: 1% !important;
  padding-top: 3% !important;
}

.side-right{
  background-color: #E3E4E5 !important;
}

.avatarFrame{
  background-color: #E3E4E5 !important;
  padding-left: 22% !important;
  padding-top: 7% !important;
}

.button.button-block.button-positive.chat{
  margin-left: 3%;
  width: 94%;
}

.button.button-small.icon:active{
  background-color: rgba(86, 182, 139, 1);
  color: white;
}

.button.button-small.icon_red:active{
  background-color: #D01B2C;
  color: white;
}

.button.button-small.icon_red{
  font-size: 30px;
}

.attachment{
  height: 20%;
  width: 20%;
  object-fit: contain;
}

.list-avatar-page{
  background-color: #4D394B;
}

.userList{
  margin-left: 2%;
  float: left;
  color: white !important;
}

.user{
  color: white !important;
}
.slack-green{
  color: #38968C !important;
  font-size: 90% !important;
}

.slack-off{
  font-size: 90% !important;
}

.title{
  color: black !important;
}

.ion-social-octocat{
  padding-left: 14%;
  font-size: 15px !important;
}

.activeUserName{
  display: block;
}

.usernamePad{
  color: white;
  padding-left: 2%;
}

.channel-highlight {
    color: #f3efef !important;
    font-weight: bold !important;
}