<div id="container" layout="row" >
    <aside id="chat-channel-container" flex="20">
        <h1>LogoImage</h1>
        <ul>
            <ul>
                <h3>Channels</h3>
                <li ng-repeat="channel in channels">{{channel}}</li>
            </ul>
            <ul>
                <h3>Direct Messages</h3>
                <li ng-repeat="contact in contacts">{{contact}}</li>
            </ul>
        </ul>
    </aside>
    <main id="chat-main" flex="80">

        <header id="chat-header">
            <div layout="column"layout-align="start end">
                <md-button class="md-accent md-raised" ng-click="sendToSettings()"> Settings </md-button>
            </div>
        </header>
        <div layout="column">
            <div flex="90" id="chat-text-box-container">
                <div id="chat-text-box-header">

                </div>
                <div layout="column" layout-align="end start">
                    <p>Chat message here...</p>
                </div>
            </div>
            <input id="chat-input-container" type="text" name="chatInput" placeholder="Message &lt;Channel Name&gt;" />
        </div>
    </main>
</div>