<!DOCTYPE html>
<html ng-cloak ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../../bower_components/angular-material/angular-material.css" rel="stylesheet">
        <link href="../css/chat.css" rel="stylesheet">
        <title>Chat</title>
    </head>
    <body>

        <div id="container" layout="row" >
            <aside flex="20">
                <h1>LogoImage</h1>
                <ul>
                    <ul>
                        <h3>Channels</h3>
                        <li>Channel 1</li>
                        <li>Channel 2</li>
                        <li>Channel 3</li>
                    </ul>
                    <ul>
                        <h3>Direct Messages</h3>
                        <li>Person 1</li>
                        <li>Person 2</li>
                        <li>Person 3</li>
                    </ul>
                </ul>
            </aside>

            <main id="main" flex="80">

                <div id="chat-text-box-container"> Chat messages here.... </div>
                <div id="chat-input-container"> <input type="text" name="chatInput" id="chat-input" placeholder="Message &lt;Channel Name&gt;" /> </div>

            </main>


        </div>

        <script src="../../bower_components/angular/angular.min.js"></script>
        <script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../../bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="../../bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="../../bower_components/angular-material/angular-material.js"></script>

        <!-- Your application bootstrap  -->
        <script type="text/javascript">    
angular.module('App', ['ngMaterial']);
        </script>
    </body>
</html>


