<md-content>
    <div layout="row" layout-align="center">
        <div layout="column" flex="60">
            <h2>Edit your profile</h2>
            <form name="settingsForm" layout="column" novalidate>
                <div>
                    <img src="assets/images/defaultProfile.png" alt="Profile picture">
                </div>
                <md-input-container>
                    <label>Change E-Mail</label>
                    <input type="email" ng-model="userData.email" required>
                </md-input-container>
                <md-input-container>
                    <label>Change Password</label>
                    <input type="password" ng-model="userData.password" required>
                </md-input-container>
                <div layout="row" layout-align="end">
                    <button type="button" ng-click="saveSettings(userData)">Save changes</button>
                    <button type="button">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</md-content>