#chat-text-box-container {
    margin: 0 15px 0 0;
    overflow:auto;
    border: solid 2px black;
}

p {
    margin: 5px 5px 10px 10px;
    word-wrap: break-word;
}

h1 {
    margin: 15px;
}

#app_logo {
    display: flex;
    flex: 20;
    padding: 25px;
}
.addButton{
    color: white;
}

h3.channel-header {
    margin-left: 14%;
    color: #AB9BA9;
}
h3.channel-header:hover{
    color: white;
}

.material-icons.md-18 {
    font-size: 15px;
}

.material-icons.md-dark {
    margin-right: 2%;
    font-size: 15px;
    color: rgb(56, 151, 141);
}
.material-icons{
text-align: center;
}

.channels-list{
    list-style: none;
    font-family: Impact, Charcoal, sans-serif;
    margin-left: 2%;
    margin-bottom: 5px;
}


.channelMsgLists:hover{
    background-color: #3E313C;
}
.channelMsgLists {
    margin-left: 2%;
    font-family: Impact, Charcoal, sans-serif;
    text-decoration: none;
    color: #AB9BA9;
    cursor: pointer;
}

#chat-channel-container {
    background-color: #4D394B;
    border-radius: 3px;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

#chat-input-area {
    margin: 0 15px 0 5px;
}

#container {
    height: 100%;
}

div.layout-column {
    height: 100%;
}

#chat-header {
    background:darkgrey;
    margin: 0 15px 0 0;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-right: solid 2px black;
}

#chat-main{
    overflow:hidden;
}

#chat-box{
    margin: 5px 0 5px 5px;
}

#avatar-thumb{
    display: inline-block;
    vertical-align: middle;
}

#username{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#date{
    color: #9e9e9e;
    font-style: italic;
    font-size: small;
    vertical-align: middle;
    display: inline-block;
}

.input-group-addon {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px 0 60px 10px;
    height: 40px;
    min-width: 30px !important;
    border-radius: 3px;
    cursor: pointer;
}

i.smilies-selector{
    border: solid 6px white;
}

.add-attachment {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px 0 60px 0;
    height: 40px;
    border-radius: 3px;
    min-width: 30px;
    cursor: pointer;
}

.add-attachment-icon{
    margin: 10px;
}

#chat-input-container {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px -2px 60px -2px;
}

#chat-button {
    margin: 10px 0 60px 10px;
}

.smilies-selector-content {
    background-color: white;
    max-width: 400px !important;

}

.channel-title {
    margin: 0 10px 8px 10px;
}

#addChannel {
    vertical-align: middle;
}

button#add-channel-button {
    min-width: 35px !important;
    position: relative;
    right: 0;
    margin-top: 18px;
}