#chat-text-box-container {
    margin: 0px 15px 0px 0px;
    overflow:auto;
    border: solid 2px black;
}

p {
    margin: 5px 5px 10px 10px;
    word-wrap: break-word;
}

h1 {
    margin: 15px;
}

#app_logo {
    display: flex; 
    flex: 20;
}

h3.channel-header {
    text-align: center;
}

.channelMsgLists:hover {
    text-decoration: underline;
    color: lightblue;
    cursor: pointer;
}

#chat-channel-container {
    background-color: purple;
    border-radius: 3px;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

#chat-input-area {
    margin: 0px 15px 0px 5px;
}

#container {
    height: 100%;
}

div.layout-column {
    height: 100%;
}

#chat-header {
    background:darkgrey;
    margin: 0px 15px 0px 0px;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-right: solid 2px black;
}

#chat-main{
    overflow:hidden;
}

#chat-box{
    margin: 5px 0 5px 5px;
}

#avatar-thumb{
    display: inline-block;
    vertical-align: middle;
}

#username{
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

#date{
    color: #9e9e9e;
    font-style: italic;
    font-size: small;
    vertical-align: middle;
    display: inline-block;
}

.input-group-addon {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px 0 60px 10px;
    height: 40px;
    min-width: 30px !important;
    border-radius: 3px;
    cursor: pointer;
}

i.smilies-selector{
    border: solid 6px white;
}

.add-attachment {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px 0 60px 0;
    height: 40px;
    border-radius: 3px;
    min-width: 30px;
    cursor: pointer;
}

.add-attachment-icon{
    margin: 10px;
}

#chat-input-container {
    border: solid 2px grey;
    background-color: transparent;
    margin: 10px -2px 60px -2px;
}

#chat-button {
    margin: 10px 0 60px 10px;
}

.smilies-selector-content {
    background-color: white;
    max-width: 400px !important;
}

.channel-title {
    margin: 0 10px 0 10px;
}