<div class="bar bar-header bar-stable">
  <img class="snakk_logo_add" src="img/snakk_logo.png">
  <h1 class="title">Add channel</h1>
</div>

<div class="list">
    <label class="item item-input item-select">
        <div class="input-label">
            Public or private chat
        </div>
    <select>
        <option selected>Type</option>
        <option>Public</option>
        <option>Private</option>
    </select>
  </label>

    <label class="item item-input item-select">
        <div class="input-label">
           Add friends
        </div>
    <select>
        <option selected>Friends</option>
        <option>PÅKE</option>
        <option>PÅKE</option>
        <option>PÅKES KOMPIS</option>
    </select>
  </label>

  <label class="item item-input">
    <input type="text" placeholder="Channel name" ng-model="channelName">
    <i class="ion-close-circled"></i>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Purpose" ng-model="purpose">
    <i class="ion-close-circled" ng-click="resetLines()"></i>
  </label>
</div>

<button class="button button-block button-positive" ng-click="resetLines()">
  Create channel
</button>

  
