<ion-side-menus>
  <ion-side-menu-content>
    <ion-header-bar class="bar-positive">
      <div class="buttons">
      <button class="button icon button-clear ion-navicon-round"
              ng-click="toggleLeft()">Menu</button>
      </div>
      <h1 class="title">Side menu</h1>
    </ion-header-bar>
    <!--Start of chat page content here -->
    <h1 class="title">Chat</h1>
    <!--End of chat page content here -->
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <ion-content class="list-avatar-page">
    <div class="list">
      <a class="item item-avatar" href="#">
          <img id="sidemenu-thumbNail" src="img/snakk-bot.jpg">
        <h2>Användare 1</h2>
        <p>Ugh. As if.</p>
      </a>
    </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
