<div class="list snakk-background">
  <img class="snakk_logo" src="assets/img/snakk_icon_white.png">

  <form name="loginForm" ng-model="loginForm">
    <label class="item item-input no-border" ng-show="showUserName">
      <input placeholder="Username" ng-model="username" type="text">
      <div ng-messages="loginForm.username.$error">
        <div ng-message="max"> max 20 characters</div>
      </div>
    </label>

    <label class="item item-input no-border">
      <div class="input">
        <input placeholder="{{placeHolder}}" class="input" type="email" name="email" ng-model="email" required>
      </div>
      <div ng-messages="loginForm.email.$error">
        <div ng-message="email"> invalid email</div>
      </div>
    </label>

    <label class="item item-input no-border">
      <input placeholder="Password" type="password" name="password" ng-model="password" required maxlength="20">
      <div ng-messages="loginForm.password.$error"></div>
    </label>

    <label class="item item-input no-border" ng-show="showPasswordConfirm">
      <input placeholder="Confirm password" type="password" name="confirm" ng-pattern="{{password}}" ng-model="confirm" required maxlength="20">
      <div ng-messages="loginForm.confirm.$error">
        <div ng-message="pattern"> no match</div>
      </div>
    </label>
  </form>

  <button type="submit" class="button button-block button-positive snakk-buttons" ng-click="loginButtonClicked()" ng-show="showLoginButton">Login</button>
  <button class="button button-block button-positive snakk-buttons" ng-click="registerClicked()" style="text-align:center" ng-show="showReg">Register</button>
  <button type="submit" class="button button-block button-positive snakk-buttons" ng-click="registerButtonClicked()" ng-show="showRegButton">Register</button>
  <button class="button button-block button-positive snakk-buttons" ng-click="cancelClicked()" style="text-align:center" ng-show="showCancel">Cancel</button>
</div>
